.post-card {
  margin: 10px 0;

  .card-title {
    font-weight: bold;
  }

  .post-button, .star-button {
    width: 120px;
  }

  .footer-section {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}