.App {
  text-align: center;

  h1 {
    color: red;
  }
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px auto;
  width: 150px;
  height: 150px;
  background-color: green;
  transition: all 0.25s ease-out;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.3);

    span {
      opacity: 1;
      transform: scale(1.4);
    }
  }

  span {
    font-weight: bold;
    color: white;
    opacity: 0;
    transition: all 0.2s cubic-bezier(.3,1.71,.92,1.8);
  }
}

.hide {
  opacity: 0;
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fade-out {
  0% { opacity: 1 }
  100% { opacity: 0 }
}

.fade-in {
  animation: fade-in 1s forwards linear;
}

.fade-out {
  animation: fade-out 1s forwards ease-in;
}